window {
    margin: 0;
    background: #1a1a1a;
    color: white;
    font: 15px "FiraCode Nerd Font";
}

#input {
    border: none;
    border-radius: 0;
    background: #292929;
    color: white;
}

#input:focus {
    box-shadow: none;
}

#img {
    margin-right: 6px;
}

#entry {
    padding: 6px;
}

#text:selected {
    color: black;
}

#entry:selected {
    background: #a8dc63;
}